camelot-py==0.11.0
chromadb==0.4.14
extract-msg==0.41.1
faiss-cpu==1.7.4
ghostscript==0.7
ipython-ngql==0.7.5
langchain==0.0.320
llama-cpp-python==0.1.50
llama-index==0.8.48
matplotlib==3.7.3
nebula3-python==3.4.0
openai==0.27.6
opencv-python==4.8.1.78
pandas==1.5.3
pandoc==2.3
pdfminer.six==20221105
pinecone-client
pinecone-text==0.5.4
pygpt4all==1.1.0
pymupdf==1.22.5
pypandoc==1.11
pypdf==3.16.2
pysqlite3-binary==0.5.2
python-dotenv==1.0.0
scikit-learn==1.4.1.post1
seaborn==0.13.0
sqlalchemy==2.0.21
statsmodels
streamlit-chat==0.0.2.2
streamlit==1.22.0
tabulate==0.9.0
textdistance
tiktoken==0.4.0
torch==2.0.1
transformers==4.32.0
unstructured==0.10.18
weaviate_client==3.24.2